@page
@model WebApplication3.Pages.Emploeeys.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Emploeey</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emploeey.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emploeey.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emploeey.Old)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emploeey.Old)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emploeey.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emploeey.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emploeey.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emploeey.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emploeey.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emploeey.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emploeey.PassportData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emploeey.PassportData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emploeey.PositionCodeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emploeey.PositionCodeNavigation.JobTitle)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Emploeey.EmployeeCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
