@page
@model WebApplication3.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orde</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orde.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orde.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orde.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orde.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orde.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orde.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orde.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orde.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orde.Chec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orde.Chec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orde.DishCodeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orde.DishCodeNavigation.DishName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orde.EmployeeCodeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orde.EmployeeCodeNavigation.Adress)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Orde.CustomerName">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
